/* 폰트 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html>body {
    font-family: "GmarketSansMedium";
}

/* lib */
.con {
    width: var(--site-width);
}

.con-min-width {
    min-width: var(--site-width);
}

/* custom */
body {
    background-color: #afafaf;
}

:root {
    --site-width: 1080px;
}

.top-bar {
    height: 80px;
    border-bottom: 1px solid #454545;
    background-color: white;
}

.menu-1 ul>li>a:hover {
    text-decoration: underline;
}

.menu-1>ul>li>a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.menu-1>ul>li>div {
    position: absolute;
    display: none;
    left: 0;
    width: 100%;
    transform: translateY(1px);
    /* transform 현재 있는 위치에서 조정하기, 여기서 top으로 했다간 망함, 왜냐, 메뉴가 border에 겹쳐있기 때문임*/
    background-color: white;
    padding-bottom: 50px;
}

.menu-1>ul>li:hover>div {
    display: block;
}

.menu-1>ul>li>div>div ul>li>a {
    display: block;
    text-align: center;
}

.menu-1>ul>li>div>div>ul>li>a {
    padding: 20px 0;
}

.menu-1>ul>li>div>div>ul>li>ul>li>a {
    padding: 10px 0;
}